In [1]:
import pandas as pd
import scipy
from scipy import stats 
import numpy as nm

#  A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [2]:
df = pd.read_csv('Cutlets.csv')

In [3]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
stats.ttest_ind( df['Unit A'],df['Unit B'])

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [5]:
scipy.__version__

'1.1.0'

In [6]:
df['Unit A']-df['Unit B']

0     0.0387
1    -1.0717
2     0.1857
3     0.5134
4     0.2966
5     0.5761
6    -0.3457
7     0.4015
8    -0.5562
9    -0.2267
10    0.5120
11    0.1110
12    0.1594
13    0.8876
14   -0.5784
15   -0.1846
16   -0.0702
17   -0.1609
18   -0.0242
19    0.6017
20    0.0549
21   -0.2660
22    0.0124
23    0.1166
24    0.2358
25   -0.0831
26    0.2030
27   -0.2381
28    0.6085
29   -0.4607
30   -0.3198
31    0.1603
32    0.4596
33    0.8163
34   -0.4470
dtype: float64

# A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
## Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [7]:
data=pd.read_csv('LabTAT.csv')

In [8]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [9]:
stats.f_oneway(data.iloc[:,0], data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [10]:
data.mean()

Laboratory 1    178.361583
Laboratory 2    178.902917
Laboratory 3    199.913250
Laboratory 4    163.682750
dtype: float64

#       Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [11]:
d1 = pd.read_csv('BuyerRatio.csv')

In [14]:
d1

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [15]:
from scipy.stats import chi2_contingency

In [16]:
males = [50,142,131,70]

In [17]:
female = [435,1523,1356,750]

In [18]:
sales = [[males,female]]

In [19]:

stat, p, dof, expected = chi2_contingency(sales)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.6603094907091882
Independent (H0 holds true)

In [20]:
    expected

array([[[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]])

# TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences!

In [21]:
d2 = pd.read_csv('Costomer+OrderForm.csv')

In [22]:
d2

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
5     Error Free  Error Free  Error Free  Error Free
6     Error Free   Defective  Error Free  Error Free
7     Error Free  Error Free  Error Free  Error Free
8     Error Free  Error Free  Error Free  Error Free
9     Error Free  Error Free  Error Free  Error Free
10     Defective  Error Free  Error Free  Error Free
11    Error Free  Error Free  Error Free  Error Free
12    Error Free  Error Free  Error Free   Defective
13    Error Free  Error Free  Error Free  Error Free
14    Error Free  Error Free  Error Free  Error Free
15    Error Free  Error Free   Defective  Error Free
16    Error Free  Error Free  Error Free  Error Free
17    Error Free  Error Free  Error Free  Error Free
18    Error Free  Error Free  Error Free  Error Free
19     Defective  Error Free  Error Free   Defective
20    Error Free  Error Free  Error Free  Error Free
21    Error Free  Error Free   Defective  Error Free
22    Error Free  Error Free  Error Free  Error Free
23     Defective  Error Free  Error Free  Error Free
24    Error Free  Error Free  Error Free  Error Free
25    Error Free  Error Free  Error Free  Error Free
26    Error Free  Error Free  Error Free  Error Free
27    Error Free  Error Free  Error Free  Error Free
28    Error Free  Error Free  Error Free  Error Free
29    Error Free  Error Free  Error Free  Error Free
..           ...         ...         ...         ...
270   Error Free  Error Free  Error Free  Error Free
271   Error Free  Error Free  Error Free  Error Free
272   Error Free  Error Free  Error Free  Error Free
273   Error Free  Error Free  Error Free  Error Free
274   Error Free   Defective   Defective  Error Free
275   Error Free  Error Free  Error Free  Error Free
276   Error Free  Error Free  Error Free  Error Free
277   Error Free  Error Free  Error Free  Error Free
278   Error Free  Error Free  Error Free  Error Free
279   Error Free  Error Free  Error Free  Error Free
280   Error Free  Error Free  Error Free  Error Free
281   Error Free  Error Free  Error Free  Error Free
282   Error Free  Error Free  Error Free  Error Free
283   Error Free   Defective  Error Free  Error Free
284   Error Free  Error Free  Error Free  Error Free
285   Error Free  Error Free  Error Free   Defective
286   Error Free  Error Free  Error Free  Error Free
287   Error Free  Error Free  Error Free  Error Free
288   Error Free  Error Free   Defective  Error Free
289    Defective  Error Free  Error Free  Error Free
290   Error Free  Error Free  Error Free  Error Free
291    Defective  Error Free  Error Free  Error Free
292   Error Free   Defective  Error Free  Error Free
293   Error Free  Error Free  Error Free  Error Free
294   Error Free   Defective  Error Free  Error Free
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [26]:
p = d2['Phillippines'].value_counts()

In [27]:
pd.DataFrame(p)

            Phillippines
Error Free           271
Defective             29

In [28]:
i = d2['Indonesia'].value_counts()
pd.DataFrame(i)

            Indonesia
Error Free        267
Defective          33

In [29]:
m = d2['Malta'].value_counts()
pd.DataFrame(m)

            Malta
Error Free    269
Defective      31

In [30]:
ind = d2['India'].value_counts()
pd.DataFrame(ind)

            India
Error Free    280
Defective      20

In [31]:
error_free = [271,267,269,280]

In [32]:
defective = [29,33,31,20]

In [33]:
df_per = [[error_free,defective]]

In [34]:

stat, p, dof, expected = chi2_contingency(df_per)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.2771020991233135
Independent (H0 holds true)

In [35]:
expected

array([[[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]])